In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import sklearn.impute
import sklearn.preprocessing
import sklearn.model_selection
import sklearn.linear_model
import sklearn.tree
from autogluon.tabular import TabularDataset, TabularPredictor
from plotnine import *

In [2]:
submission_list = [0,1,1,0,1,1,0,0,0,0,0,1,1,1,1,0,0,0]

In [4]:
pd.DataFrame(submission_list, columns = ['답']).to_csv('.\\submission_OX\\ver1.csv', index = False)

\- OX퀴즈 답

1. X
2. X
3. O

---

4. O
5. X
6. O
7. X

---

8. O
9. O
10. O

---

11. X
12. O
13. O
14. O

---

15. O
16. X
17. X
18. O
19. O

---

20. O
21. O
22. O
23. O
24. X

---

25. O
26. O

---

27. O
28. O
29. O
30. X
31. O
32. O
33. O

---

34. X
35. X
36. O
37. X
38. O

---

39. X
40. O
41. O
42. X

---

43. X
44. X

---

45. O
46. O
47. O

---

48. O
49. X
50. O

In [20]:
len([0,0,1,1,0,1,0,1,1,1,0,1,1,1,1,0,0,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,0,0,1,0,1,0,1,1,0,0,0,1,1,1,1,0,1])

50

In [29]:
pd.DataFrame([0,0,1,1,0,1,0,1,1,1,0,1,1,1,1,0,0,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,0,0,1,0,1,0,1,1,0,0,0,1,1,1,1,0,1], columns = ['Answer']).reset_index()\
.rename({'index' : 'Prob'}, axis = 1).assign(Prob = lambda _df : _df.Prob + 1)

    Prob  Answer
0      1       0
1      2       0
2      3       1
3      4       1
4      5       0
5      6       1
6      7       0
7      8       1
8      9       1
9     10       1
10    11       0
11    12       1
12    13       1
13    14       1
14    15       1
15    16       0
16    17       0
17    18       1
18    19       1
19    20       1
20    21       1
21    22       1
22    23       1
23    24       0
24    25       1
25    26       1
26    27       1
27    28       1
28    29       1
29    30       0
30    31       1
31    32       1
32    33       1
33    34       0
34    35       0
35    36       1
36    37       0
37    38       1
38    39       0
39    40       1
40    41       1
41    42       0
42    43       0
43    44       0
44    45       1
45    46       1
46    47       1
47    48       1
48    49       0
49    50       1

In [30]:
pd.DataFrame([0,0,1,1,0,1,0,1,1,1,0,1,1,1,1,0,0,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,0,0,1,0,1,0,1,1,0,0,0,1,1,1,1,0,1], columns = ['Answer']).reset_index()\
.rename({'index' : 'Prob'}, axis = 1).assign(Prob = lambda _df : _df.Prob + 1)\
.to_csv('ver1.csv', index = False)

19번, 34번, 42번, 49번